[tool.poetry]
name = "fastapi-cachette"
version = "0.1.1"
description = "Cache Implementation Extension for FastAPI Asynchronous Web Framework"
authors = ["Sitt Guruvanich <aekazitt@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/aekasitt/fastapi-cachette"
repository = "https://github.com/aekasitt/fastapi-cachette"
keywords = [
  "starlette", "fastapi", "cache",
  "redis", "aioredis", "dynamodb",
  "aiobotocore", "asynchronous", 
  "memcached", "aiomcache",
  "mongodb", "motor", "pymongo"
]
classifiers = [
  "Environment :: Web Environment",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3.6",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3 :: Only",
  "Operating System :: OS Independent",
  "Topic :: Internet :: WWW/HTTP :: Dynamic Content",
  "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
fastapi = "^0"
pydantic = "^1.9.0"
uvicorn = {version = "0.15.0", optional = true, extras = ["examples"]}
aiomcache = {version = "^0.7.0", optional = true, extras = ["examples", "memcached"]}
aiobotocore = {version = "^2.2.0", optional = true, extras = ["dynamodb", "examples"]}
redis = {version="^4.2.1", optional = true, extras = ["examples", "redis"]}
motor = {version = "^2.5.1", optional = true, extras = ["examples", "mongodb"]}

[tool.poetry.dev-dependencies]
pytest = "^7.1.1"
requests = "^2.27.1"

[tool.poetry.extras]
redis = ["redis"]
memcached = ["aiomcache"]
dynamodb = ["aiobotocore"]
mongodb = ["motor"]
examples = ["redis", "aiomcache", "aiobotocore", "uvicorn"]

[tool.pytest.ini_options]
addopts = "--strict-markers --tb=short -s"
testpaths = [ "tests" ]
python_files = "*.py"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
